body {
	background:#004118;
	font-size:100%;
	margin:0em;
	padding:0em;
}

h1 {
	font-size:2.0em;
	line-height:2.1em;
	font-family:Helvetica;
	font-weight:100;
	color:#FFFFFB;
	margin:0em 0em 0em 0.3em;
    text-shadow: 3px 3px 2px #000;
}

/* Header */ 
header {
	display:block;
	background:#008F12;
    background-image: url("pics/header-frosch.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% bottom;
	text-align:left;
}

.header-sep{
   display: block;
   background-color: #003111;
   margin: 0em;
   padding-top: 0.3em;
}


#box {
   width: 9em;
   padding-bottom: 9em;
   background: #01870c;
   color: #000000;
   position: relative;
   float: left;
   vertical-align: bottom;
}

#box:hover {
   background: #51cf2b; 
}
#box.box.aktive{
    /*position:absolute;*/
    background:#51ff44
    ;
}

#innerContent {
   position: absolute;
   left: 5px;
   right: 5px;
   top: 5px;
   bottom: 5px;
   background:#FFFFFF;
   vertical-align: bottom;
   display: table-cell;
}

.stationlinks{
    max-height:100%;
    left:0%;
    max-width:100%;
    vertical-align: bottom;
    text-align: center;
}

.stationlinks img{
    max-height:100%;
    max-width:100%;
    vertical-align: bottom;
}


#wrap {
      overflow: hidden;
    }
